#bodi {
	background-color: #110F15;
	vertical-align: middle;
}

#soon {
	color: rgba(255, 255, 255, 0.87);
	text-align: center;
	position: fixed;
	font-family: Atkinson Hyperlegible;
	font-weight: bold;
	font-size: 36px;
	line-height: 58px;
	margin-left: 33%;
	margin-top: 20%;
}
